@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Poppins:ital,wght@0,600;1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,900&family=Poppins:ital,wght@0,600;1,600&display=swap');


html,
body,
#root,
#root>div {
  height: 100%;
  width: 100%;
}

html {
  margin:0;
  padding: 0
}

body {
  position: fixed;
  margin: 0;
  padding:0;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// reset body line-height
body {
  min-height: 100vh;
  line-height: 1;
  text-rendering: optimizeSpeed;
}

header,
footer,
.main {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}

header {
  font-size: 16px;
  padding: 2rem;
}

.main {
  font-size: 14px;
  // height: calc(100vh - 4rem - 2rem - 1.6rem);
  justify-content: center;
}

footer {
  font-size: 12px;
  padding: 0.4rem;
}

.home {
  padding: 1rem;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(175, 156, 243, 0.00) 7.92%, #AF9CF3 86.48%);
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Loader overlay styles */
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Semi-transparent dark background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* Ensure the loader appears on top of other content */
}

/* Loader styles */
.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  /* Loader color */
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  /* Spinning animation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.question-container {
  background: #AF9CF3;
  background-blend-mode: multiply;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 28px;
  text-shadow: 0px 1px black;

  img {
    height: 40px;
    width: 50px;
    flex-shrink: 0;
  }
}

.title {
  display: flex;
  justify-content: center;

  .title-circle {
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.10));
    color: #FF3B3C;
    text-align: center;
    font-family: Poppins;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: 90px;
    width: 400px;
    max-width: 90vw;
    height: 350px;
    flex-shrink: 0;
    background-color: #fff;
    display: flex;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
  }
}

.primary-btn button {
  background: #FF3B3F;
  border: 2px solid #FF3B3F;
  padding: 0.8rem 1.6rem;
  width: inherit;
  border-radius: 80px;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  font-family: 'Nunito Sans', sans-serif;
  transition: all 0.3s ease-in-out;

  &:disabled {
    pointer-events: none;
    opacity: 0.6;
  }

  cursor: pointer;

  &.start-btn {
    width: 40%;
  }

  &.home-btn {
    margin: 1rem;
  }

  &:hover {
    background: #fff;
    color: #FF3B3F;
  }

}

.page-not-found {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .msg {
    align-items: center;
    color: #FF3B3C;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
  }

  button {}
}

.quiz-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: #AF9CF3;
  background-blend-mode: multiply;

  .question-container {
    width: 60%;
    height: 80%;
    border-radius: 40px 40px 0px 0px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;

    .progress {
      width: 180px;
      height: 180px;
      background: #fff;
      border-radius: 100%;
      position: absolute;
      top: 5%;
      display: flex;
      justify-content: center;
      align-items: center;

      .fill-ring {
        height: 160px;
        position: absolute;
        width: 160px;
        border: 13px solid #F3F4FA;
        border-radius: 50%;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Nunito Sans', sans-serif;
        font-style: italic;
        font-weight: 700;
        color: #999;

        .count {
          display: flex;
          align-items: baseline;

          .current-question {
            color: #000;
            font-size: 50px;
          }
        }
      }

      .circular-progress {
        height: inherit;
        width: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        z-index: 2;

        .MuiCircularProgress-root.MuiCircularProgress-determinate {
          width: 160px !important;
          height: 160px !important;
          color: #44B77B !important;
        }
      }

    }

    .question {
      position: relative;
      top: 20%;
      height: 80%;
      width: 100%;
      padding: 1rem 2rem;

      .text {
        color: #000;
        font-family: "Nunito Sans", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.4;
      }

      .content-wrapper {
        position: relative;
        overflow: auto;
        padding: 0.5rem 0;
        height: 260px;
        ;

        .image-wrapper {
          padding: 1rem;
          display: flex;
          justify-content: center;
          overflow: hidden;
          height: 150px;

          img {
            height: 100%;
            box-sizing: border-box;
            max-width: 100%;
            max-height: 100%;
            // width: 100%;
          }
        }

        .options-wrapper {

          .option {
            width: 100%;
            background-color: #F3F4FA;
            padding: 0.6rem;
            margin: 0.4rem 0;
            border-radius: 10px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            transition: all 0.2s ease-in-out;
            border: 2px solid #F3F4FA;
            text-transform: capitalize;

            &:has(input:checked) {
              border-color: #44B77B;
            }

            &:hover, &:active {
              border-color: #44B77B;
            }

            .MuiFormControlLabel-root {
              width: 100%;

              .MuiFormControlLabel-label {
                font-size: 14px;
              }
            }
          }
        }
      }

      .next-btn {
        position: absolute;
        width: 100%;
        bottom: 0px;
        left: 0px;
        padding: 1rem 2rem;

        button {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            // background-image: url("../public/images/icons/right-arrow.svg");
            background-color: #fff;
            -webkit-mask: url("../public/images/icons/right-arrow.svg") no-repeat center;
            mask: url("../public/images/icons/right-arrow.svg") no-repeat center;

            width: 30px;
            height: 30px;
            right: 15px;
            bottom: 7px;
            background-repeat: no-repeat;
            transform: scale(0.5);
          }

          &:hover {
            &::after {
              background-color: #FF3B3C;
            }
          }
        }
      }
    }

    .result {
      position: relative;
      height: 100%;
      // padding: 1rem 2rem;
      width: 100%;

      .heading {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 32px;
        font-weight: 600;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .score-wrapper {
        position: relative;
        height: 80%;
        overflow: auto;
        padding: 0 1rem;

        .score-meter {
          transform: scale(0.4);
          position: relative;
          display: flex;
          justify-content: center;
          margin-top: -100px;

          .score {
            position: absolute;
            height: 300px;
            width: 300px;
            border-radius: 50%;
            background-color: #fff;
            z-index: 3;
            top: 100px;
            display: flex;
            justify-content: center;
            align-items: center;

            .percent {
              position: relative;
              width: 250px;
              height: 250px;
              border: 2px solid #EBEDF5;
              border-radius: 50%;
              font-family: 'Nunito Sans', sans-serif;
              font-size: 60px;
              font-weight: 600;
              text-indent: 15px;
              display: flex;
              justify-content: center;
              align-items: center;

            }
          }

          .gradient {
            position: absolute;
            z-index: 2;
          }

          .bg {
            position: relative;
            z-index: 1;
            // transform: scale(1.1);
          }

          .pointer {
            position: absolute;
            top: 40px;
            z-index: 2;
          }
        }

        .correct-incorrect {
          display: flex;
          flex-direction: column;
          padding: 0 1rem;
          margin-top: -90px;

          .option {
            width: 100%;
            background-color: #F3F4FA;
            padding: 0.6rem 1rem;
            margin: 0.4rem 0;
            border-radius: 10px;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            label {
              .MuiFormControlLabel-label {
                .count-text {
                  .count {
                    font-weight: 600;
                    padding: 0 0.5rem 0 0;
                  }
                }
              }
            }

            &.correct {
              background-color: #bdecd4;
            }

            &.incorrect {
              background-color: #FD8D90;
            }
          }
        }

        .primary-btn.restart {
          padding: 1rem 2rem;
          position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;

          button {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (min-width: 240px) and (max-width: 479px) {
  .result .score-wrapper {
    .score-meter .bg {
      transform: scale(1.35) !important;
    }
  }
}


/* Media Query for Mobile Devices */
@media (max-width: 480px), (min-width: 481px) and (max-width: 992px) {
  .question-container {
    width: 100% !important;

    .question {
      top: 10% !important;
      height: 90% !important;

      .text {
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .content-wrapper {
        padding: 0.4rem 0 !important;
        height: 50vh !important;

        .options-wrapper {
          .option {
            padding: 1rem 0.6rem !important;
            &:has(input:checked) {
              border-color: #44B77B !important;
            }
            &:hover, &:active {
              border-color: inherit !important;
            }
          }
        }
      }
    }
  }
}